a {
    text-decoration: underline;
    color: black;
}

a:hover {
    text-decoration: none;
}

body {
    max-width: 35em;
    margin: 0 auto;
    padding: 0 1em;
    font-family: serif
}

header {
    border-bottom: 0.08em solid lightgray;
    font-style: italic;
}

footer {
    border-top: 0.08em solid lightgray;
}

pre {
    overflow-x: auto;
}

pre, blockquote {
    padding-left: 1em;
    margin: 0;
}

.title {
    font-size: 1.9em;
    text-align: center;
}

h1 {
    font-size: 1.2em;
}

p {
    text-align: justify;
}

.date {
    text-align: center;
    font-style: italic;
}

blockquote {
    font-style: italic;
}
